body {
  text-align: center;
}

h1 {
  color: red;
}

p {
  font: bold;
}

.container {
  max-width: 600px;
  border: bottom;
  padding: 100px;
  margin: auto;
  background: tan;
  position: absolute;
  justify-content: space-around;
}

.row {
  display: flex;
  justify-content: space-around;
  height: 200px;
  align-items: center;
  font: bold;
}

.circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 10px, solid;
  line-height: 150px;
  background: white;
  justify-content: space-around;
}

.container2 div {
  width: 600px;
  height: 600px;
  margin: auto;
  border: solid;
  background: white;
  position: absolute;
}

form input {
  width: 90%;
}


.reserved {
  background-color: gray;
  pointer-events: none;
}

.tool-tip {
  font: 10px;
  position: absolute;
  background-color: white;
  z-index: 2;
}

.reserved:hover .tool-tip {
  display: block;
}
